<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Tauri App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.12/dist/vuetify.min.css" />
</head>
<body>
<div id="app">
  <div id="app">
    <v-layout class="rounded rounded-md">
test app
      <v-main class="d-flex align-center justify-center text-caption" style="min-height: 300px;">

  <div style=" flex-grow: 1">
            <div v-for="(meta, i) in nodeList" :key="i">

                     <div style=" flex-grow: 1; display: flex; gap:8px; flex-direction: column; padding:10px">
                <div v-for="(meta, i) in nodeList" :key="i">

                  <v-btn size="small" class="text-capitalize"
                      @click="handleBtnClick($event, meta)"
                      @dblclick="addHandlerIfNotExists(meta)"
                      :class="{
                    selected: selectedNode === meta
                      }"
                      v-if="meta.type === NodeTypes.BUTTON"
                  > {{ meta.name }}
                  </v-btn>
                  <v-textarea
                      @dblclick="selectedNode = meta"
                      density="compact"
                      variant="outlined"
                      class="nc-btn"
                      :label="meta.name"
                      :class="{
          selected: selectedNode === meta
            }"
                      v-if="meta.type === NodeTypes.TEXTAREA"
                  >
                  </v-textarea>
                  <div
                      @dblclick="selectedNode = meta"
                      density="compact"
                      variant="outlined"
                      class="p-2"
                      :class="{
                        selected: selectedNode === meta
                      }"
                      v-if="meta.type === NodeTypes.TEXT"
                  >
                    {{ meta.name }}
                  </div>

                  <v-text-field
                      @dblclick="selectedNode = meta"
                      density="compact"
                      variant="outlined"
                      @click="handleBtnClick($event, meta)"
                      :class="{
          selected: selectedNode === meta
            }"
                      v-if="meta.type === NodeTypes.INPUT"
                  />
                </div>
              </div>
            </div>

</v-main>
</v-layout>

</div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.12/dist/vuetify.min.js"></script>
  <script>
    const { createApp, ref, reactive } = Vue;
const { createVuetify } = Vuetify

const vuetify = createVuetify()


const NodeTypes = {
  BUTTON: 'button',
  INPUT: 'input',
  TEXTAREA: 'textarea',
  TEXT: 'text',
}

    createApp({
      setup() {
        const handlerMapping = reactive({})

        try {
          new Function(
              `
  return function testFn(self){
    
function button(event) {
  console.log('Button  clicked')
}


    // bind handlers
    try { if(button) handlerMapping["button"] = button.bind(self); } catch { }
try { if(button) handlerMapping["button"] = button.bind(self); } catch { }
try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(button_4) handlerMapping["button_4"] = button_4.bind(self); } catch { }
try { if(textarea) handlerMapping["textarea"] = textarea.bind(self); } catch { }
  }`)()
          } catch (e) {
            console.error(e)
          }


        const handleBtnClick = (event, meta) => {
          if (handlerMapping[meta.handler]) {
            handlerMapping[meta.handler].bind(this)(event)
          }
        };

        return {
          nodeList: [{"name":"Button ","handler":"button","type":"button"},{"name":"Button ","handler":"button","type":"button"},{"name":"Label","type":"text"},{"name":"Button 4","handler":"button_4","type":"input"},{"name":"Textarea","handler":"textarea","type":"textarea"}],
          handleBtnClick,
          NodeTypes
        }
      }
    }).use(vuetify)..mount('#app')
  </script>
</body>
</html>
