<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Tauri App</title>
</head>
<body>
<div id="app">

  <div style=" flex-grow: 1">
            <div v-for="(meta, i) in nodeList" :key="i">

              <button
                  @click="handleBtnClick($event, meta)"
                  @dblclick="addHandlerIfNotExists(meta)"
                  class="nc-btn"
                  :class="{
          selected: selectedNode === meta
            }"
                  v-if="meta.type === NodeTypes.BUTTON"
              > {{ meta.name }}
              </button>
<div
                  @click="handleBtnClick($event, meta)"
                  class="nc-btn"
                  :class="{
          selected: selectedNode === meta
            }"
                  v-if="meta.type === NodeTypes.TEXTAREA"
              > {{ meta.name }}
              </div>

              <input
                  @click="handleBtnClick($event, meta)"
                  class="nc-btn"
                  :class="{
          selected: selectedNode === meta
            }"
                  v-if="meta.type === NodeTypes.INPUT"
              />
            </div>

</div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script></script>
  <script>
    const { createApp, ref, reactive } = Vue;


const NodeTypes = {
  BUTTON: 'button',
  INPUT: 'input',
  TEXTAREA: 'textarea',
  TEXT: 'text',
}

    createApp({
      setup() {
        const handlerMapping = reactive({})

        try {
          new Function(
              `
  return function testFn(self){
    

    // bind handlers
    try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(undefined) handlerMapping[undefined] = undefined.bind(self); } catch { }
try { if(button) handlerMapping["button"] = button.bind(self); } catch { }
try { if(button) handlerMapping["button"] = button.bind(self); } catch { }
try { if(button) handlerMapping["button"] = button.bind(self); } catch { }
  }`)()
          } catch (e) {
            console.error(e)
          }


        const handleBtnClick = (event, meta) => {
          if (handlerMapping[meta.handler]) {
            handlerMapping[meta.handler].bind(this)(event)
          }
        };

        return {
          nodeList: [{"name":"Label","type":"text"},{"name":"Label","type":"text"},{"name":"Label","type":"text"},{"name":"Label","type":"text"},{"name":"Label","type":"text"},{"name":"Button ","handler":"button","type":"button"},{"name":"Button ","handler":"button","type":"button"},{"name":"Button ","handler":"button","type":"button"}],
          handleBtnClick,
          NodeTypes
        }
      }
    }).mount('#app')
  </script>
</body>
</html>